@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;

    /* ── Paleta Taximast ── */
    --color-onyx: #0b0c0c;
    --color-jet-black: #2a2e34;
    --color-platinum: #e9eaec;
    --color-bright-gold: #fbe134;
    --color-saffron: #e4b61a;
}